.breadcrumbs {
    padding-top: 84px;
    display: flex;
    align-items: center;
    gap: 8px;
    @media (max-width: 767px) {
        padding-top: 0;
    }
    &__item {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 116%;
        letter-spacing: 0.14px;
        color: $colorWhite;
        opacity: 0.6;
        text-decoration: none;

        &--active {
            opacity: 1;
        }
    }

    &__separator {
        color: $colorWhite;
        opacity: 0.6;
    }
} 