.directions{
  position: relative;
  z-index: 2;
  padding-bottom: 64px;
  .container{
    max-width: 1520px;
    padding-inline: 0;
    @media (max-width: 1500px) {
        margin: 0 50px;
    }
    @media (max-width: 1023px) {
        margin: 0 24px;
      }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 31.75%;
    @media (max-width: 1500px) {
        width: 30%
      }
    @media (max-width: 1200px) {
      width: 48%;
    }
    @media (max-width: 1023px) {
        width: 100%;
      }
  }
  &__pic{
    width: 96px;
    vertical-align: middle;
  }
  &__caption{
    font-size: 24px;
    color: $colorWhite;
    line-height: 134%;
    @media (max-width: 1500px) {
        font-size: 20px;
      }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}