.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d69f2;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 2;
    opacity: 0.3;
}

.map-marker {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, z-index 0s;
    z-index: 100;
    margin-bottom: 10px;

    &.active {
        z-index: 101;
        transform: translate(-50%, -50%) scale(1.1);

        .map-marker__content {
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
            background: #f0f7ff;
        }

        .map-marker__logo {
            transform: scale(1.1);
        }
    }

    &:hover {

        .map-marker__content {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
        }

        .map-marker__logo {
            transform: scale(1.05);
        }
    }

    &__logo {
        position: relative;
        width: 46px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: transform 0.3s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: 1000;
        }
    }

    &__content {
        background: #FFFFFF;
        border-radius: 16px;
        box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100) var(--sds-size-depth-negative-025) var(--sds-color-black-200), var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100) var(--sds-size-depth-negative-025) var(--sds-color-black-100);
        padding: 4px 12px;
        z-index: 998;
        transition: box-shadow 0.3s ease;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #000F1F;
        margin-bottom: 4px;
    }

    &__address {
        color: #181716;
        font-family: $fontBase;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 116%;
        letter-spacing: 0.14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}
