@font-face {
  font-family: 'TT-Firs';
  src: url('../fonts/TTFirsTextTrial-Rg.woff2') format('woff2'),
  url('../fonts/TTFirsTextTrial-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Firs';
  src: url('../fonts/TTFirsTextTrial-XBd.woff2') format('woff2'),
  url('../fonts/TTFirsTextTrial-XBd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Firs';
  src: url('../fonts/TTFirsTextTrial-Md.woff2') format('woff2'),
  url('../fonts/TTFirsTextTrial-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Firs';
  src: url('../fonts/TTFirsTextTrial-Lt.woff2') format('woff2'),
  url('../fonts/TTFirsTextTrial-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Firs';
  src: url('../fonts/TTFirsTextTrial-Bd.woff2') format('woff2'),
  url('../fonts/TTFirsTextTrial-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

