<% var data = {
title: "KPK",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section section--contacts">
    <div class="header-margin"></div>
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="breadcrumbs__item">Главная</a>
            <span class="breadcrumbs__separator">/</span>
            <span class="breadcrumbs__item breadcrumbs__item--active">Контакты</span>
        </div>
        <h1 class="section--contacts__title">Контакты и реквизиты наших предприятий</h1>
        <div class="contacts-tabs">
            <button class="contacts-tabs__button active" data-company="ozsk">
                <img src="./img/contacts/gotx-logo.svg" alt="ООО «ОЗСК»" class="contacts-tabs__logo">
                <span class="contacts-tabs__name">ООО «ОЗСК»</span>
            </button>
            <button class="contacts-tabs__button" data-company="gotx">
                <img src="./img/contacts/ozsk-logo.svg" alt="АО «ГОТХ»" class="contacts-tabs__logo">
                <span class="contacts-tabs__name">АО «ГОТХ»</span>
            </button>
            <button class="contacts-tabs__button" data-company="terminal-sk">
                <img src="./img/company-group/terminal-small.svg" alt="ООО «СЗ «Терминал СК»" class="contacts-tabs__logo">
                <span class="contacts-tabs__name">ООО «СЗ «Терминал СК»</span>
            </button>
            <button class="contacts-tabs__button" data-company="terminal-an">
                <img src="./img/contacts/gotx-logo.svg" alt="ООО «АН «Терминал»" class="contacts-tabs__logo">
                <span class="contacts-tabs__name">ООО «АН «Терминал»</span>
            </button>
            <button class="contacts-tabs__button" data-company="terminal-td">
                <img src="./img/company-group/terminal-small.svg" alt="ТД «Терминал»" class="contacts-tabs__logo">
                <span class="contacts-tabs__name">ТД «Терминал»</span>
            </button>
        </div>
    </div>
    <div class="section-gradient"></div>
    <div class="section-bg lozad" data-background-image="./img/production-complex/bg.jpg"></div>
</section>

<section class="section section--company-info">
    <div class="container">
        <!-- ОЗСК -->
        <div class="company-info__content active" data-company="ozsk">
            <h2 class="company-info__title">ООО «ОЗСК»</h2>
            <div class="company-info__grid">
                <div class="company-info__item">
                    <div class="company-info__item-title">ИНН:</div>
                    <div class="company-info__item-description">5257089784</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Юридический адрес:</div>
                    <div class="company-info__item-description">Нижний Новгород, проспект Ленина, 100В</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Коммерческий директор:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000035">8(812)300-0035</a><br>
                        <a class="color-white" href="tel:+79841392011">+7(984)139-2011</a><br>
                        <a href="mailto:comdir@gkterminal.ru" class="color-link">comdir@gkterminal.ru</a>
                    </div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Начальник отдела по работе с юридическими лицами:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000035">8(812)300-0035</a><br>
                        <a class="color-white" href="tel:+79841392011">+7(984)139-2011</a><br>
                        <a href="mailto:legent@gkterminal.ru" class="color-link">legent@gkterminal.ru</a>
                    </div>
                </div>
            </div>
            <button class="company-info__link button with-icon">
                <a target="_blank" href="https://ozsk.ru" class="button__text-container color-white" data-text="Перейти на сайт">
                    <span class="button__text">Перейти на сайт</span>
                    <div class="button__icon">
                        <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                        <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                    </div>
                </a>
            </button>
        </div>

        <!-- ГОТХ -->
        <div class="company-info__content" data-company="gotx">
            <h2 class="company-info__title">АО «ГОТХ»</h2>
            <div class="company-info__grid">
                <div class="company-info__item">
                    <div class="company-info__item-title">ИНН:</div>
                    <div class="company-info__item-description">5257089785</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Юридический адрес:</div>
                    <div class="company-info__item-description">Нижний Новгород, ул. Окская Гавань, 1</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Коммерческий директор:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:comdir@gotx.ru" class="color-link">comdir@gotx.ru</a>
                    </div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Начальник отдела по работе с юридическими лицами:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:legent@gotx.ru" class="color-link">legent@gotx.ru</a>
                    </div>
                </div>
            </div>
            <button class="company-info__link button with-icon">
                <a target="_blank" href="https://gotx.ru" class="button__text-container color-white" data-text="Перейти на сайт">
                    <span class="button__text">Перейти на сайт</span>
                    <div class="button__icon">
                        <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                        <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                    </div>
                </a>
            </button>
        </div>

        <!-- Терминал СК -->
        <div class="company-info__content" data-company="terminal-sk">
            <h2 class="company-info__title">ООО «СЗ «Терминал СК»</h2>
            <div class="company-info__grid">
                <div class="company-info__item">
                    <div class="company-info__item-title">ИНН:</div>
                    <div class="company-info__item-description">5257089786</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Юридический адрес:</div>
                    <div class="company-info__item-description">Нижний Новгород, проспект Ленина, 100В</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Коммерческий директор:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:comdir@gotx.ru" class="color-link">comdir@gotx.ru</a>
                    </div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Начальник отдела по работе с юридическими лицами:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:legent@gotx.ru" class="color-link">legent@gotx.ru</a>
                    </div>
                </div>
            </div>
            <button class="company-info__link button with-icon">
                <a target="_blank" href="https://terminal-sk.ru" class="button__text-container color-white" data-text="Перейти на сайт">
                    <span class="button__text">Перейти на сайт</span>
                    <div class="button__icon">
                        <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                        <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                    </div>
                </a>
            </button>
        </div>

        <!-- АН Терминал -->
        <div class="company-info__content" data-company="terminal-an">
            <h2 class="company-info__title">ООО «АН «Терминал»</h2>
            <div class="company-info__grid">
                <div class="company-info__item">
                    <div class="company-info__item-title">ИНН:</div>
                    <div class="company-info__item-description">5257089787</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Юридический адрес:</div>
                    <div class="company-info__item-description">Нижний Новгород, ул. Героя Шнитникова, 1</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Коммерческий директор:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:comdir@gotx.ru" class="color-link">comdir@gotx.ru</a>
                    </div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Начальник отдела по работе с юридическими лицами:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:legent@gotx.ru" class="color-link">legent@gotx.ru</a>
                    </div>
                </div>
            </div>
            <button class="company-info__link button with-icon">
                <a target="_blank" href="https://terminal-an.ru" class="button__text-container color-white" data-text="Перейти на сайт">
                    <span class="button__text">Перейти на сайт</span>
                    <div class="button__icon">
                        <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                        <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                    </div>
                </a>
            </button>
        </div>

        <!-- ТД Терминал -->
        <div class="company-info__content" data-company="terminal-td">
            <h2 class="company-info__title">ТД «Терминал»</h2>
            <div class="company-info__grid">
                <div class="company-info__item">
                    <div class="company-info__item-title">ИНН:</div>
                    <div class="company-info__item-description">5257089788</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Юридический адрес:</div>
                    <div class="company-info__item-description">Нижний Новгород, ул. Монастырка, 1</div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Коммерческий директор:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:comdir@gotx.ru" class="color-link">comdir@gotx.ru</a>
                    </div>
                </div>
                <div class="company-info__item">
                    <div class="company-info__item-title">Начальник отдела по работе с юридическими лицами:</div>
                    <div class="company-info__item-description">Тестов Тест Тестович<br>
                        <a class="color-white" href="tel:88123000036">8(812)300-0036</a><br>
                        <a class="color-white" href="tel:+79841392012">+7(984)139-2012</a><br>
                        <a href="mailto:legent@gotx.ru" class="color-link">legent@gotx.ru</a>
                    </div>
                </div>
            </div>
            <button class="company-info__link button with-icon">
                <a target="_blank" href="https://terminal-td.ru" class="button__text-container color-white" data-text="Перейти на сайт">
                    <span class="button__text">Перейти на сайт</span>
                    <div class="button__icon">
                        <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                        <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                    </div>
                </a>
            </button>
        </div>
    </div>
</section>

<section class="section section--company-slider">
    <div class="container">
        <section class="section section--company-slider">
            <div class="container">
                <div class="contacts__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-company="ozsk">
                            <div class="contacts__slide">
                                <img class="contacts__slide-logo--tablet" src="./img/current-construction/jule-logo.png" alt="">
                                <div class="contacts__slide-media">
                                    <img class="contacts__slide-image" src="./img/company-group/slide-1.png" alt="">
                                    <img class="contacts__slide-logo" src="./img/current-construction/jule-logo.png" alt="">
                                    <a href="#" class="contacts__slide-link button">
                                        <span class="button__text-container" data-text="Подробнее">
                                            <span class="button__text">Подробнее</span>
                                        </span>
                                    </a>
                                </div>
                                <h3 class="contacts__slide-title">ЖК «Июль»</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-company="gotx">
                            <div class="contacts__slide">
                                <img class="contacts__slide-logo--tablet" src="./img/current-construction/jule-logo.png" alt="">
                                <div class="contacts__slide-media">
                                    <img class="contacts__slide-image" src="./img/company-group/slide-2.png" alt="">
                                    <img class="contacts__slide-logo" src="./img/current-construction/jule-logo.png" alt="">
                                    <a href="#" class="contacts__slide-link button">
                                        <span class="button__text-container" data-text="Подробнее">
                                            <span class="button__text">Подробнее</span>
                                        </span>
                                    </a>
                                </div>
                                <h3 class="contacts__slide-title">ЖК «Июль»</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-company="terminal-sk">
                            <div class="contacts__slide">
                                <img class="contacts__slide-logo--tablet" src="./img/current-construction/jule-logo.png" alt="">
                                <div class="contacts__slide-media">
                                    <img class="contacts__slide-image" src="./img/company-group/slide-3.png" alt="">
                                    <img class="contacts__slide-logo" src="./img/current-construction/jule-logo.png" alt="">
                                    <a href="#" class="contacts__slide-link button">
                                        <span class="button__text-container" data-text="Подробнее">
                                            <span class="button__text">Подробнее</span>
                                        </span>
                                    </a>
                                </div>
                                <h3 class="contacts__slide-title">ЖК «Июль»</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-company="terminal-an">
                            <div class="contacts__slide">
                                <img class="contacts__slide-logo--tablet" src="./img/current-construction/jule-logo.png" alt="">
                                <div class="contacts__slide-media">
                                    <img class="contacts__slide-image" src="./img/company-group/slide-4.png" alt="">
                                    <img class="contacts__slide-logo" src="./img/current-construction/jule-logo.png" alt="">
                                    <a href="#" class="contacts__slide-link button">
                                        <span class="button__text-container" data-text="Подробнее">
                                            <span class="button__text">Подробнее</span>
                                        </span>
                                    </a>
                                </div>
                                <h3 class="contacts__slide-title">ЖК «Июль»</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-company="terminal-td">
                            <div class="contacts__slide">
                                <img class="contacts__slide-logo--tablet" src="./img/current-construction/jule-logo.png" alt="">
                                <div class="contacts__slide-media">
                                    <img class="contacts__slide-image" src="./img/company-group/slide-5.png" alt="">
                                    <img class="contacts__slide-logo" src="./img/current-construction/jule-logo.png" alt="">
                                    <a href="#" class="contacts__slide-link button">
                                        <span class="button__text-container" data-text="Подробнее">
                                            <span class="button__text">Подробнее</span>
                                        </span>
                                    </a>
                                </div>
                                <h3 class="contacts__slide-title">ЖК «Июль»</h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination container"></div>
                    <div class="contacts__slider-nav">
                        <div class="container">
                            <div class="swiper-btn swiper-button-prev"></div>
                            <div class="swiper-pagination swiper-pagination-tablet"></div>
                            <div class="swiper-btn swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="section section--map">
    <div class="map-container">
        <div id="map"></div>
    </div>
</section>

<section class="section section--feedback">
    <div class="container">
        <div class="feedback">
            <div class="feedback__content">
                <div class="feedback__title">
                    Для получения дополнительной информации, пожалуйста, заполните форму:
                </div>
            </div>
            <form class="feedback__form" id="feedbackForm">
                <div class="feedback__form-row">
                    <div class="feedback__form-field">
                        <input type="text" name="name" placeholder="ФИО*" required>
                    </div>
                    <div class="feedback__form-field">
                        <input type="tel" name="phone" placeholder="Номер телефона*" required>
                    </div>
                </div>
                <div class="feedback__form-row">
                    <div class="feedback__form-field">
                        <input type="email" name="email" placeholder="Почта*" required>
                    </div>
                    <div class="feedback__form-field">
                        <select name="address" required>
                            <option value="" disabled selected>Выберите адрес*</option>
                            <option value="АО «ГОТХ»">АО «ГОТХ»</option>
                            <option value="ООО «ОЗСК»">ООО «ОЗСК»</option>
                            <option value="ООО «СЗ «Терминал СК»">ООО «СЗ «Терминал СК»</option>
                            <option value="ООО «АН «Терминал»">ООО «АН «Терминал»</option>
                            <option value="ТД «Терминал»">ТД «Терминал»</option>
                        </select>
                    </div>
                </div>
                <div class="feedback__form-row">
                    <div class="feedback__form-field feedback__form-field--full">
                        <textarea name="message" placeholder="Ваш вопрос" rows="5"></textarea>
                    </div>
                </div>
                <div class="feedback__form-row feedback__form-row--captcha">
                    <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                </div>
                <div class="feedback__form-row feedback__form-row--submit">
                    <div class="feedback__form-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" required>
                            <span class="checkbox__text">Нажимая на кнопку «Отправить» Вы соглашаетесь с политикой конфиденциальности</span>
                        </label>
                    </div>
                    <button type="submit" class="button">
                            <span class="button__text-container" data-text="Отправить">
                                <span class="button__text">Отправить</span>
                            </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
