<% var data={ title: "KPK" , themeClass: "" , }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>

    <main class="body">
      <div class="heading">
        <img src="./img/gotx-banner.png" alt="" class="heading__pic">
        <div class="heading__wrap">
          <div class="container">
            <div class="heading__top">
              <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <span class="breadcrumbs__separator">/</span>
                <span class="breadcrumbs__item breadcrumbs__item--active">Генеральный подрядчик</span>
              </div>
              <img src="./img/company-group/gotx-logo.svg" alt="" class="heading__icon">
            </div>
            <div class="heading__bottom">
              <h1 class="heading__title">АО «ГОТХ»</h1>
              <div class="heading__txt">Единственный в Нижнем Новгороде мультимодальный комплекс, располагающий
                причалами <br> для приемки грузовых судов различных классов и грузоподъемности, железнодорожными путями
                и <br> собственным автотранспортом</div>
            </div>
          </div>
        </div>
      </div>
      <div class="current-project">
        <div class="container">
          <h2 class="current-project__title">О компании</h2>
          <div class="current-project__wrap">
            <div class="current-project__left">
              <div class="current-project__txt">
                <div>
                  <p><b>
                      АО «ГОТХ» — это крупнейший в Нижегородской области транспортный перегрузочный комплекс, образовано
                      в 1947 году.
                    </b></p>
                  <p>Оказывает услуги по приемке, перевалке, складированию, хранению и перевозке грузов, поступающих
                    водным, железнодорожным и автомобильным транспортом. Работаем с тарно-штучными (цемент,
                    металлопрокат, удобрения и др.), сыпучими и другими видами грузов.</p>
                  <p>За период навигации портовые участки принимают до 5 млн. тонн различных грузов, ежесуточно может
                    перегружаться до 40 тыс. тонн грузов.</p>
                </div>
                <div>
                  <h2>Наши активы</h2>
                  <h3>Сеть портовых грузовых участков в Нижнем Новгороде и области</h3>
                  <ul>
                    <li><b>Автозаводский речной порт</b></li>
                    <li><b>Грузовой район Подновье</b></li>
                    <li><b>Дзержинский грузовой район</b></li>
                    <li><b>Кстовский грузовой район</b></li>
                  </ul>
                  <p>Все грузовые участки связаны с федеральной автотрассой твердым автомобильным покрытием.</p>
                </div>
                <div>
                  <h3>Причальные стенки</h3>
                  <p>На всех грузовых участках оборудованы причальные стенки для приемки судов различных классов
                    и грузоподъемности</p>
                </div>
                <div>
                  <h3>Железнодорожное подразделение на территории Автозаводского речного порта</h3>
                  <p>Собственная разветвленная сеть железнодорожных путей: выход на станцию Южная (ГАЗ) и до станции
                    Сортировочная-Автозаводская.</p>
                  <p>В порту имеется возможность перегрузки грузов между разными видами транспорта:</p>
                  <ul>
                    <li>речной</li>
                    <li>автомобильный</li>
                    <li>железнодорожный</li>
                  </ul>
                </div>
                <div>
                  <h3>Специальная техника</h3>
                  <ul>
                    <li><b>Специальная техника</b></li>
                    <li><b>Транспортный флот</b></li>
                    <li><b>Портальные краны</b></li>
                    <li><b>Плавкраны разной грузоподъемности</b></li>
                    <li><b>Собственный автотранспорт</b></li>
                    <li><b>Строительная техника</b></li>
                  </ul>
                </div>
                <div>
                  <h3>Открытые складские площади</h3>
                  <p>Возможность единовременного складирования груза объемом <br><b>до 2 млн тонн</b></p>
                </div>
              </div>
            </div>
            <div class="current-project__right">
              <div class="current-project__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-1.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-2.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-3.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-4.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-5.png" alt="">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="current-project__slider-nav">
                  <div class="swiper-btn swiper-button-prev"></div>
                  <div class="swiper-btn swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="production-sections-wrapper">
        <section class="section directions">
          <div class="container">
            <div class="section__heading directions__heading">
              <h2 class="section__title directions__title">Направления деятельности АО «ГОТХ»</h2>
            </div>
            <div class="directions__list">
              <div class="directions__item">
                <img src="./img/icon-directions.svg" alt="" class="directions__pic">
                <div class="directions__caption">Складское <br> хранение грузов</div>
              </div>
              <div class="directions__item">
                <img src="./img/icon-directions.svg" alt="" class="directions__pic">
                <div class="directions__caption">Строительство <br>
                  гидротехнических сооружений</div>
              </div>
              <div class="directions__item">
                <img src="./img/icon-directions.svg" alt="" class="directions__pic">
                <div class="directions__caption">Разработка, добыча, перевозка нерудных материалов</div>
              </div>
              <div class="directions__item">
                <img src="./img/icon-directions.svg" alt="" class="directions__pic">
                <div class="directions__caption">Дробление, разделение на фракции нерудных материалов</div>
              </div>
              <div class="directions__item">
                <img src="./img/icon-directions.svg" alt="" class="directions__pic">
                <div class="directions__caption">Перегрузка негабаритных, тяжеловесных <br> и крупногабаритных грузов
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section partnerts">
          <div class="container">
            <div class="section__heading partnerts__heading">
              <h2 class="section__title partnerts__title">Нам доверяют (наши партнеры)</h2>
            </div>
            <div class="partnerts__list">
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-1.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-2.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-3.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-4.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-5.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-6.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-7.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-8.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-9.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-10.svg" alt="" class="partnerts__pic">
              </div>
              <div class="partnerts__item">
                <img src="./img/icon-partnerts-11.svg" alt="" class="partnerts__pic">
              </div>
            </div>
          </div>
        </section>
        <section class="section current-construction">
          <div class="container current-construction__container">
            <div class="section__content current-construction__content">
              <div class="section__heading current-construction__heading">
                <h2 class="section__title current-construction__title">Это мы строим прямо сейчас</h2>
              </div>
              <div class="current-construction__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-1.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-2.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-3.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-4.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination container"></div>
                <div class="current-construction__slider-nav">
                  <div class="container">
                    <div class="swiper-btn swiper-button-prev"></div>
                    <div class="swiper-pagination swiper-pagination-tablet"></div>
                    <div class="swiper-btn swiper-button-next"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section location">
          <div class="container">
            <div class="section__heading">
              <h2 class="section__title">Мы на карте Нижнего Новгорода</h2>
              <div class="location__enterprises">
                <h3 class="location__subtitle">Предприятия</h3>
                <div class="location__list location__list--enterprises swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/gootx.svg" alt="АО «ГОТХ»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>АО «ГОТХ»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Окская Гавань, 1
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/ozsk.svg" alt="ООО «ОЗСК»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ООО «ОЗСК»</span>
                          </div>
                          <div class="location__address">
                            ул. Монастырка, 1
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/terminal.svg" alt="ООО «СЗ «Терминал СК»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>Специализированный застройщик ООО «СЗ «Терминал СК»</span>
                          </div>
                          <div class="location__address">
                            проспект Ленина, 100В
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/an_terminal.svg" alt="ООО «АН «Терминал»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>Агентство недвижимости ООО «АН «Терминал»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Героя Шнитникова, 1; Бурнаковская улица, 99
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/terminal.svg" alt="ТД «Терминал»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ТД «Терминал»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Монастырка, 1
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="location__enterprises">
                <h3 class="location__subtitle">Строящиеся жилые комплексы</h3>
                <div class="location__list location__list--complexes swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/iul.svg" alt="ЖК «ИЮЛЬ»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ЖК «ИЮЛЬ»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Бурнаковская, д. 99
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/torpedo.svg" alt="ЖК «Торпедо»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ЖК «Торпедо»</span>
                          </div>
                          <div class="location__address">
                            ул. Героя Шнитникова, д.1
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="section section--map">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </section>
      <%= _.template(require('./../includes/components/feedback.html').default)(data) %>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>