<% var data={ title: "KPK" , themeClass: "" , }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>

    <main class="body">
      <div class="heading">
        <img src="./img/gotx-banner.png" alt="" class="heading__pic">
        <div class="heading__wrap">
          <div class="container">
            <div class="heading__top">
              <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <span class="breadcrumbs__separator">/</span>
                <span class="breadcrumbs__item breadcrumbs__item--active">Генеральный подрядчик</span>
              </div>
              <img src="./img/company-group/torpedo-logo.svg" alt="" class="heading__icon">
            </div>
            <div class="heading__bottom">
              <h1 class="heading__title">ЖК «Торпедо — Первая очередь»</h1>
              <div class="heading__info">
                  <div class="heading__room">3 802 квартиры</div>
                  <div class="heading__map">Сормовский район Нижнего Новгорода</div>
                  <ul class="heading__box">
                    <li>АН «Терминал» </li>
                    <li>ООО «ОЗСК»</li>
                    <li>ООО «СЗ «Терминал СК»</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="current-project">
        <div class="container">
          <h2 class="current-project__title">О проекте</h2>
          <div class="current-project__wrap">
            <div class="current-project__left">
              <div class="current-project__txt">
                <div>
                  <p><b>
                      Группа компаний «Терминал» реализует свой самый масштабный проект по строительству микрорайона ЖК «Торпедо» в Автозаводском районе города Нижнего Новгорода.
                    </b></p>
                  <p>Новый микрорайон располагается в одном из красивейших и экологически чистых уголков города — вдоль реки Оки вблизи памятника природы регионального значения «Малышевские гривы».</p>
                  <p>На территории в 44 гектара вырастут 45 домов высотой десяти и семнадцати этажей.</p>
                </div>
                <div class="current-project__list">
                  <div class="current-project__item">
                    <img src="./img/icon-trp-1.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Комплексная застройка</div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-2.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Транспортная доступность</div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-3.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Игровые и спортивные площадки</div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-4.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Благоустроенная территория</div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-5.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Отделка под ключ
                    </div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-6.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Школа, детский сад, ФОК
                    </div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-7.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Торговый центр
                    </div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-8.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Площадка для дрессировки собак
                    </div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-9.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Озеро с пляжем
                    </div>
                  </div>
                  <div class="current-project__item">
                    <img src="./img/icon-trp-10.svg" alt="" class="current-project__pic">
                    <div class="current-project__caption">Фитнес клуб с бассейном
                    </div>
                  </div>
                </div>
                <div>
                  <h2>Расположение объекта</h2>
                  <p><b>Новый микрорайон располагается в одном из красивейших и экологически чистых уголков города — вдоль реки Оки, вблизи памятника природы регионального значения «Малышевские гривы».</b></p>
                  <p>На территории в 44 гектара в общей сложности будет возведено 45 домов высотой десяти и семнадцати этажей. Этажность домов дает возможность любоваться живописными видами реки и города.
Квартиры в ЖК «Торпедо» — это великолепная возможность прикоснуться к природе и в то же самое время ощутить круговорот современной динамичной жизни. Жилой комплекс расположен в тихом квартале, в стороне от шума центральных улиц, при этом, благодаря наличию остановки общественного транспорта прямо внутри комплекса, вы можете быстро добраться в любую часть города.</p>
                </div>
                <div>
                  <h3>Инфраструктура</h3>
                  <p>Новый жилой комплекс оснащен всем необходимым для комфортной и удобной жизни: благоустроенная территория, игровые и спортивные площадки, собственная котельная, природный заповедник с естественным водоёмом, а в самом ближайшем будущем к услугам жителей будут доступны современный торговый центр, детский сад и школа.</p>
                </div>
                <div>
                  <h3>Цены от застройщика</h3>
                  <p>Купить квартиру в ЖК торпедо от застройщика — значит выгодно инвестировать в свое будущее. Стоимость квартир зависит от планировки, статуса объекта, этажа, площади и других факторов.</p>
                </div>
              </div>
            </div>
            <div class="current-project__right">
              <div class="current-project__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-1.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-2.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-3.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-4.png" alt="">
                  </div>
                  <div class="swiper-slide current-project__slide">
                    <img src="./img/company-group/slide-5.png" alt="">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="current-project__slider-nav">
                  <div class="swiper-btn swiper-button-prev"></div>
                  <div class="swiper-btn swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="production-sections-wrapper">
        <section class="current-video section">
          <div class="container">
            <h2 class="section__title current-video__title">Видеосъемка жилого комплекса</h2>
            <a href="" class="current-video__link"><img src="./img/current-video.png" alt="" class="current-video__pic"></a>
          </div>
        </section>
        <section class="section current-construction">
          <div class="container current-construction__container">
            <div class="section__content current-construction__content">
              <div class="section__heading current-construction__heading">
                <h2 class="section__title current-construction__title">Это мы строим прямо сейчас</h2>
              </div>
              <div class="current-construction__slider swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-1.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-2.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-3.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="current-construction__slide">
                      <img class="current-construction__slide-logo--tablet"
                        src="./img/current-construction/jule-logo.png" alt="">
                      <div class="current-construction__slide-media">
                        <img class="current-construction__slide-image" src="./img/company-group/slide-4.png" alt="">
                        <img class="current-construction__slide-logo" src="./img/current-construction/jule-logo.png"
                          alt="">
                        <a href="#" class="current-construction__slide-link button">
                          <span class="button__text-container" data-text="Подробнее">
                            <span class="button__text">Подробнее</span>
                          </span>
                        </a>
                      </div>
                      <h3 class="current-construction__slide-title">ЖК «Июль»</h3>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination container"></div>
                <div class="current-construction__slider-nav">
                  <div class="container">
                    <div class="swiper-btn swiper-button-prev"></div>
                    <div class="swiper-pagination swiper-pagination-tablet"></div>
                    <div class="swiper-btn swiper-button-next"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section location">
          <div class="container">
            <div class="section__heading">
              <h2 class="section__title">Мы на карте Нижнего Новгорода</h2>
              <div class="location__enterprises">
                <h3 class="location__subtitle">Предприятия</h3>
                <div class="location__list location__list--enterprises swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/gootx.svg" alt="АО «ГОТХ»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>АО «ГОТХ»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Окская Гавань, 1
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/ozsk.svg" alt="ООО «ОЗСК»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ООО «ОЗСК»</span>
                          </div>
                          <div class="location__address">
                            ул. Монастырка, 1
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/terminal.svg" alt="ООО «СЗ «Терминал СК»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>Специализированный застройщик ООО «СЗ «Терминал СК»</span>
                          </div>
                          <div class="location__address">
                            проспект Ленина, 100В
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/an_terminal.svg" alt="ООО «АН «Терминал»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>Агентство недвижимости ООО «АН «Терминал»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Героя Шнитникова, 1; Бурнаковская улица, 99
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/terminal.svg" alt="ТД «Терминал»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ТД «Терминал»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Монастырка, 1
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="location__enterprises">
                <h3 class="location__subtitle">Строящиеся жилые комплексы</h3>
                <div class="location__list location__list--complexes swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/iul.svg" alt="ЖК «ИЮЛЬ»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ЖК «ИЮЛЬ»</span>
                            <a href="#" class="location__website" title="Перейти на сайт">
                              <img src="./img/icons/icon-website.svg" alt="Перейти на сайт">
                              <img src="./img/icons/icon-website-blue.svg" alt="Перейти на сайт">
                            </a>
                          </div>
                          <div class="location__address">
                            ул. Бурнаковская, д. 99
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="location__item">
                        <div class="location__logo">
                          <img src="./img/location/torpedo.svg" alt="ЖК «Торпедо»">
                        </div>
                        <div class="location__info">
                          <div class="location__name">
                            <span>ЖК «Торпедо»</span>
                          </div>
                          <div class="location__address">
                            ул. Героя Шнитникова, д.1
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="section section--map">
        <div class="map-container">
          <div id="map"></div>
        </div>
      </section>
      <%= _.template(require('./../includes/components/feedback.html').default)(data) %>
    </main>

    <%= _.template(require('./../includes/footer.html').default)(data) %>